In [ ]:
!pip install pybats

In [2]:
#Import Libraries
import numpy as np
import pandas as pd

from pybats.shared import load_sales_example
from pybats.analysis import *
from pybats.point_forecast import *
from pybats.plot import *

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
df = pd.read_excel('/content/drive/MyDrive/Github/m_tech/Datasets/input.xlsx')
df.head()

        Date  SalesVolume
0 1995-01-01        47639
1 1995-02-01        47880
2 1995-03-01        67025
3 1995-04-01        56925
4 1995-05-01        64192